<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/add-agent">
      <img src="/addAgent.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add Agent</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/manage-agent">
      <img src="/manageAgents.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Agent</h4>
      </div>
    </div>
    <div class="card" style="width: 18rem" routerLink="/view-agent">
      <img src="/admin.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View Agent</h4>
      </div>
    </div>
  </div>
</div>
