<div class="banner">
    <app-navbar></app-navbar>
    <div class="cards">
      <div class="card" style="width: 18rem" routerLink="/add-review">
        <img src="/addReview.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>Add Review</h4>
        </div>
      </div>
  
      <div class="card" style="width: 18rem" routerLink="/manage-review">
        <img src="/manageReview.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>Manage Review</h4>
        </div>
      </div>
      <div class="card" style="width: 18rem" routerLink="/view-review">
        <img src="/viewReviews.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>View Review</h4>
        </div>
      </div>
    </div>
  </div>
  