<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" routerLink="/add-admin">
      <img src="/agent.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Add Admin </h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/manage-admin">
      <img src="/admin.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Manage Admin</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>
   
  </div>


</div>