<div class="banner">
<app-navbar></app-navbar>

<div class="property-table-container">
    <table class="property-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Email</th>
          <th>Rating</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agentInfo">
          <td>{{ agent.id }}</td>
          <td>{{agent.agentName }}</td>
          <td>{{ agent.agentContact }}</td>
          <td>{{ agent.agentAddress }}</td>
          <td>{{ agent.agentEmail}}</td>
          <td>{{ agent.agentRating }}</td>
          <td>{{ agent.agentDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
