<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" routerLink="/add-client">
      <img src="/addClient.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Add Client </h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/manage-client">
      <img src="/manageClient.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Manage Client</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>
   
  </div>


</div>