<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" routerLink="/add-appointment">
      <img src="/addAppointment2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Add Appointment </h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/manage-appointment">
      <img src="/manageAppointment.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Manage Appointment</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>
   
  </div>


</div>